{% extends 'base.html' %}

{% block content %}


        <div class="card border-light mb-4">
  	<div class="card-body">
	  <h1 class="card-title">Bitcoin value Checker</h1>
  	Aqui puedes consultar el valor de cambio del Bitcoin.
	<hr>
 	 Para iniciar crea una cuenta. <a href="signup" role="button" class="btn btn-light btn-outline-dark">Crear Cuenta <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
</svg></a>
  	</div>
      </div>


  <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-center text-white bg-dark rounded-3">
	<img src="https://image.flaticon.com/icons/png/512/4950/4950400.png" height="200">
	</div>
      </div>

      <div class="col-md-6">
        <div class="h-100 p-5 text-center bg-light border rounded-3">
	<img src="https://image.flaticon.com/icons/png/512/4221/4221664.png" height="200">
	</div>
      </div>
    
{% endblock %}
